
@font-face{
  font-family: myfont1;
  src: url(fonts/Ridie Demo/OpenType-TT/Ridie-Bold-fickerning.ttf);
}

@font-face{
  font-family: myfont2;
  src: url(fonts/ReliefGrotesk.ttf);
}
@font-face{
  font-family: myfont3;
  src: url(fonts/Bavista_Soulare.ttf);
}
@font-face{
  font-family: myfont4;
  src: url(fonts/HARD_ROCK.ttf);
}

@font-face{
  font-family: myfont5;
  src: url(fonts/EXPOSURE.ttf);
}
body{
  position: relative;
  background-color: rgb(19, 60, 67)
}

#nav-header{
  margin-bottom: 30px;
  display: flex;
  flex-flow: row;
  background-color: rgb(19, 60, 67);
  width: 80%;
  height: 15vh;
  margin-left: 7%;
  padding-left: 1%;
}

@media screen and (min-height: 768px) {
  #nav-header{
  display: flex;
  flex-flow: row;
  background-color: rgb(19, 60, 67);
  width: 80%;
  height: 5vh;
  margin-left: 7%;
  padding-left: 5%
  
}
}
@media screen and (max-width: 768px) {
  #nav-header{
  display: flex;
  flex-flow: row;
  background-color: rgb(19, 60, 67);
  width: 80%;
  height: 5vh;
  margin-left: 3%;
  padding-left: 2%;
}
}
#about{
  color: white;
  font-size: 0.8rem;
}

.front{
  position: relative;
  border-bottom: 2px solid cyan;
  border-top: 2px solid cyan;
  border-bottom-left-radius: 31%;
  border-top-right-radius: 31%;
  margin-left: 17%;
  padding-right: 1%;
  width: max-content;
  height: 13vh;
  background-image: linear-gradient(0deg, rgb(19, 60, 67), rgba(19, 60, 67, 0.4));
  -webkit-box-reflect: below 4px 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  transform: perspective(1250px) rotateY(55deg);
  align-content: center;
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: 1;
  transition-duration: 2s;
}

@media screen and (max-width: 768px) {
  .front{
    margin-left: 45px;
    height: 5vh;
    width: 18vw;
  }
}
@media screen and (min-height: 768px) {
  .front{
    height: 2vh;
  }
}

.front:hover {
  transform: rotateX(0deg) rotateY(0deg);
  border: none;
  z-index: 1;
  transition-duration: 2s;
}
.backg:hover::before {
  content: '';
  border-bottom-left-radius: 25%;
  filter: blur(1px);
  border-top-right-radius: 25%;
  position: absolute;
  left: -2px;
  background-image: conic-gradient(cyan 360deg, rgb(19, 60, 67) 5deg);
  background-repeat: none-repeat;
  /*background-size: 20%;*/
  width: calc(100% - 6px);
  height: calc(100% - 27px);
  z-index: -1;
  transition-duration: 2s;
  animation-name: backg-play;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.menu-button{
  color: tan;
  margin-top: 2px;
  margin-right: 1px;
  font-family: myfont3;
  font-size: 1.8rem;
  border: none;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgb(19, 60, 67);
  transition-duration: 2s;
}
.menu-button:hover {
  border: 1px solid white;
  transition-duration: 2s;
}

@media screen and (max-width: 768px) {
  .menu-button{
  font-family: myfont1;
  font-size: 1.5rem;
  margin-left: 1%;
  width: max-content;
  border-radius: 7%;
  background-color: rgb(19, 60, 67);
  text-shadow: -2px 0px 0px purple;
  transform: rotateY(40deg);
  }
}

#main-title{
  display: flex;
  flex-flow: row;
  top: 22%;
  left: 9%;
  width: max-content;
  position: absolute;
  transform: rotateY(-90deg);
}
.ch{
  margin-left: 20%;
  font-family: myfont2;
  font-size: 2rem;
  color: aqua;
  -webkit-box-reflect: below 4px 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
img{
  margin-top: 10px;
  width: 20%;
  height: 35%;
  position: relative;
  left: 35%;
  transform: rotateY(0deg);
  animation-name: roll-in;
  animation-duration: 5s;
  animation-iteration-count: 1;
  transition-duration: 2s;
}

img:hover {
  /*transform: perspective(1205px) rotateY(45deg);*/
  filter: opacity(12%);
}

@media screen and (max-width: 768px) {
  img{
  width: 25%;
  height: 40%;
  position: relative;
  left: 35%;
}
}

main{
  display: flex;
  flex-flow: column;
  margin-top: 25px;
  width: 73%;
  height: 50%;
}

#main-display{
  position: relative;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-shrink: 1;
  justify-items: center;
  margin-left: 17%; 
  margin-top: 4%;
  width: 58%;
  height: 81%;
  transform: perspective(250px) rotateX(20deg) skewX(40deg);
  transition-duration: 3s;
}

.main.backg::before {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  background-color: yellow;
  
}

.display-button{
  
  border: 1px solid rgb(19, 60, 67);
  border-radius: 6%;
  width: max-content;
  color: aquamarine;
  margin-left: 25%;
  padding-bottom: 7%;
  font-family: myfont5;
  font-size: 1.8rem;
  background-color: rgb(19, 60, 67);
  transform: rotateX(50deg);
  transition-duration: 2s;
}

.display-button:hover {
  color: tan;
  font-size: 1.6rem;
  border: 1px solid aquamarine;
  border-radius: 30%;
  padding: 7px;
  font-family: myfont4;
  text-shadow: none;
  box-shadow: -1px 1px 30px aqua;
  transform: scale(1.6) rotateX(-35deg) skewX(-25deg);
  transition-duration: 2s 
}

.projects-link{
  color: purple;
  width: max-content;
  margin: 5%;
}
@media screen and (max-width: 768px) {
  .projects-link{
  width: max-content;
  margin-bottom: 7%;
    padding: 6%;
  }
}

#end{
margin: 10%;
  color: white;
  font-size: 1em;
  }

@media screen and (max-width: 768px){
  #end{
margin: 10%;
  color: white;
  font-size: 0.5em;
  }
}

header{
  width: auto;
}

#link-nav{
  position:absolute;
  left: 62%;
  display: flex;
  flex-flow: column;
  width: 35vw;
  -webkit-box-reflect: below 2px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  overflow: hidden;
}
#link-nav::before {
  content: 'hover below!';
  color: lightblue;
  align-self: center;
  text-shadow: 1px 0px 0px aqua;
}
@media screen and (max-width: 768px){
  #link-nav::before {
  content: 'click below!';
  color: lightblue;
  align-self: center;
  text-shadow: 1px 0px 0px aqua;
}
}
@media screen and (max-width: 768px){
  #link-nav{
    position: relative;
    margin-top: 30px;
  left: 16%;
  display: flex;
  flex-flow: column;
  width: 36vw;
  overflow: hidden;
    z-index: 1;
  }
}
a{
  display: flex;
  flex-flow: row;
  font-size: 2em;
  margin:10px;
  padding-left: 10%;
  width: 85%;
  overflow: hidden;
  color: steelblue;
}
h4{
  color: white;
}
#facebook{
  position: relative;
  top: 170px;
  transition-duration: 1s;
}
@media screen and (max-width: 768px){
  #facebook{
  position: relative;
    font-size: 1em;
  top: 170px;
  transition-duration: 1s;
}
}

#linkedin{
  position: relative;
  top: 110px;
  transition-duration: 1s;
}
@media screen and (max-width: 768px){
  #linkedin{
  position: relative;
    font-size: 1em;
  top: 170px;
  transition-duration: 1s;
}
}
#github{
  position: relative;
  top: 50px;
  transition-duration: 1s;
}
@media screen and (max-width: 768px){
  #github{
  position: relative;
    font-size: 1em;
  top: 170px;
  transition-duration: 1s;
}
}
svg{
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 768px){
  svg{
  width: 20px;
  height: 20px;
}
}
#screen{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  bottom: 5%;
  list-style-type: none;
  padding: 2px;
  background-color: rgba(30, 69, 80,0.7);
  border-radius: 6%;
  box-shadow: 1px 1px 25px 1px cyan;
  z-index: 2;
  visibility: hidden;
  
}

@media screen and (max-width: 768px), 
       screen and (max-height: 1080px) {
  #screen{
  
  position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-flow: column;
  background-color: rgba(30, 69, 80,0.7);
  border-radius: 6%;
  box-shadow: 1px 1px 6px 1px cyan;
  z-index: 2;
  visibility: hidden;
}
       }

#back{
  color: wheat;
  position: relative;
  margin-bottom: 1%;
  margin-top: 3%;
  width: max-content;
  height: 14%;
  visibility: hidden;
  font-size: 1.6rem;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  background-color: rgba(39, 69, 80,0.7);
  box-shadow: 1px 2px 4px aqua;
  transition-duration: 2s;
}

@media screen and (max-width: 768px) {
  #back{
    position: relative;
    font-size: 1.5rem;
    border-radius: 15%;
    z-index: 2;
    background-color: rgba(30, 69, 80,0.7);
    transition-duration: 1s;
  }       
}
#back:hover {
  box-shadow: 14px 2px 45px 4px aquamarine;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  color: aqua;
  transform: scale(1.2);
  z-index: 3;
  transition-duration: 2s;
}

.variable-value{
  box-shadow: -1px 2px 3px aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-items: center;
  padding-left: 2%;
  margin-left: 10px;
  margin-bottom: 9px;
  border-radius: 5%;
  overflow: hidden;
  transition-duration: 1s;
}
.variable-value:hover{
  box-shadow: -25px 4px 105px aquamarine;
  border-radius: 15%;
  z-index: 2;
  transition-duration: 1s;
}


@media screen and (max-width: 768px) {
  .variable-value{
    position: relative;
    margin-left: 0;
    margin-bottom: 9px;
    margin-top: 4px;
    padding-bottom: 10%;
    box-shadow: 1px 2px 3px aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
    flex-grow: 1;
}
}
@keyframes backg-play{
  0%{background-image: conic-gradient(cyan 360deg, rgb(19, 60, 67) 1deg);}
  1%{background-image: conic-gradient(cyan 350deg, rgb(19, 60, 67) 1deg);}
  2%{background-image: conic-gradient(cyan 340deg, rgb(19, 60, 67) 1deg);}
  3%{background-image: conic-gradient(cyan 330deg, rgb(19, 60, 67) 1deg);}
  4%{background-image: conic-gradient(cyan 320deg, rgb(19, 60, 67) 1deg);}
  5%{background-image: conic-gradient(cyan 310deg, rgb(19, 60, 67) 1deg);}
  6%{background-image: conic-gradient(cyan 300deg, rgb(19, 60, 67) 1deg);}
  7%{background-image: conic-gradient(cyan 290deg, rgb(19, 60, 67) 1deg);}
  8%{background-image: conic-gradient(cyan 280deg, rgb(19, 60, 67) 1deg);}
  9%{background-image: conic-gradient(cyan 270deg, rgb(19, 60, 67) 1deg);}
  10%{background-image: conic-gradient(cyan 260deg, rgb(19, 60, 67) 1deg);}
  11%{background-image: conic-gradient(cyan 250deg, rgb(19, 60, 67) 1deg);}
  12%{background-image: conic-gradient(cyan 240deg, rgb(19, 60, 67) 1deg);}
  13%{background-image: conic-gradient(cyan 230deg, rgb(19, 60, 67) 1deg);}
  14%{background-image: conic-gradient(cyan 220deg, rgb(19, 60, 67) 1deg);}
  15%{background-image: conic-gradient(cyan 210deg, rgb(19, 60, 67) 1deg);}
  16%{background-image: conic-gradient(cyan 200deg, rgb(19, 60, 67) 1deg);}
  17%{background-image: conic-gradient(cyan 190deg, rgb(19, 60, 67) 1deg);}
  18%{background-image: conic-gradient(cyan 180deg, rgb(19, 60, 67) 1deg);}
  19%{background-image: conic-gradient(cyan 170deg, rgb(19, 60, 67) 1deg);}
  20%{background-image: conic-gradient(cyan 160deg, rgb(19, 60, 67) 1deg);}
  21%{background-image: conic-gradient(cyan 150deg, rgb(19, 60, 67) 1deg);}
  22%{background-image: conic-gradient(cyan 140deg, rgb(19, 60, 67) 1deg);}
  23%{background-image: conic-gradient(cyan 130deg, rgb(19, 60, 67) 1deg);}
  24%{background-image: conic-gradient(cyan 120deg, rgb(19, 60, 67) 1deg);}
  25%{background-image: conic-gradient(cyan 110deg, rgb(19, 60, 67) 1deg);}
  26%{background-image: conic-gradient(cyan 100deg, rgb(19, 60, 67) 1deg);}
  27%{background-image: conic-gradient(cyan 90deg, rgb(19, 60, 67) 1deg);}
  28%{background-image: conic-gradient(cyan 80deg, rgb(19, 60, 67) 1deg);}
  29%{background-image: conic-gradient(cyan 70deg, rgb(19, 60, 67) 1deg);}
  30%{background-image: conic-gradient(cyan 60deg, rgb(19, 60, 67) 1deg);}
  31%{background-image: conic-gradient(cyan 50deg, rgb(19, 60, 67) 1deg);}
  32%{background-image: conic-gradient(cyan 40deg, rgb(19, 60, 67) 1deg);}
  33%{background-image: conic-gradient(cyan 30deg, rgb(19, 60, 67) 1deg);}
  34%{background-image: conic-gradient(cyan 20deg, rgb(19, 60, 67) 1deg);}
  35%{background-image: conic-gradient(cyan 10deg, rgb(19, 60, 67) 1deg);}
  
  36%{background-image: conic-gradient(rgb(19, 60, 67) 360deg, cyan 1deg);}
  37%{background-image: conic-gradient(rgb(19, 60, 67) 350deg, cyan 1deg);}
  40%{background-image: conic-gradient(rgb(19, 60, 67) 340deg, cyan 1deg);}
  41%{background-image: conic-gradient(rgb(19, 60, 67) 330deg, cyan 1deg);}
  42%{background-image: conic-gradient(rgb(19, 60, 67) 320deg, cyan 1deg);}
  43%{background-image: conic-gradient(rgb(19, 60, 67) 310deg, cyan 1deg);}
  44%{background-image: conic-gradient(rgb(19, 60, 67) 300deg, cyan 1deg);}
  45%{background-image: conic-gradient(rgb(19, 60, 67) 290deg, cyan 1deg);}
  46%{background-image: conic-gradient(rgb(19, 60, 67) 280deg, cyan 1deg);}
  47%{background-image: conic-gradient(rgb(19, 60, 67) 270deg, cyan 1deg);}
  48%{background-image: conic-gradient(rgb(19, 60, 67) 260deg, cyan 1deg);}
  49%{background-image: conic-gradient(rgb(19, 60, 67) 250deg, cyan 1deg);}
  50%{background-image: conic-gradient(rgb(19, 60, 67) 240deg, cyan 1deg);}
  51%{background-image: conic-gradient(rgb(19, 60, 67) 230deg, cyan 1deg);}
  52%{background-image: conic-gradient(rgb(19, 60, 67) 220deg, cyan 1deg);}
  53%{background-image: conic-gradient(rgb(19, 60, 67) 210deg, cyan 1deg);}
  54%{background-image: conic-gradient(rgb(19, 60, 67) 200deg, cyan 1deg);}
  55%{background-image: conic-gradient(rgb(19, 60, 67) 190deg, cyan 1deg);}
  56%{background-image: conic-gradient(rgb(19, 60, 67) 180deg, cyan 1deg);}
  57%{background-image: conic-gradient(rgb(19, 60, 67) 170deg, cyan 1deg);}
  58%{background-image: conic-gradient(rgb(19, 60, 67) 160deg, cyan 1deg);}
  59%{background-image: conic-gradient(rgb(19, 60, 67) 150deg, cyan 1deg);}
  60%{background-image: conic-gradient(rgb(19, 60, 67) 140deg, cyan 1deg);}
  61%{background-image: conic-gradient(rgb(19, 60, 67) 130deg, cyan 1deg);}
  62%{background-image: conic-gradient(rgb(19, 60, 67) 120deg, cyan 1deg);}
  63%{background-image: conic-gradient(rgb(19, 60, 67) 110deg, cyan 1deg);}
  64%{background-image: conic-gradient(rgb(19, 60, 67) 100deg, cyan 1deg);}
  65%{background-image: conic-gradient(rgb(19, 60, 67) 90deg, cyan 1deg);}
  66%{background-image: conic-gradient(rgb(19, 60, 67) 80deg, cyan 1deg);}
  67%{background-image: conic-gradient(rgb(19, 60, 67) 70deg, cyan 1deg);}
  68%{background-image: conic-gradient(rgb(19, 60, 67) 60deg, cyan 1deg);}
  69%{background-image: conic-gradient(rgb(19, 60, 67) 50deg, cyan 1deg);}
  70%{background-image: conic-gradient(rgb(19, 60, 67) 40deg, cyan 1deg);}
  71%{background-image: conic-gradient(rgb(19, 60, 67) 30deg, cyan 1deg);}
  72%{background-image: conic-gradient(rgb(19, 60, 67) 20deg, cyan 1deg);}
  73%{background-image: conic-gradient(rgb(19, 60, 67) 10deg, cyan 1deg);}
  
  
}
@keyframes move{
  0%{
    transform: rotateY(90deg);
    box-shadow: 0px 0px 0px cyan;
  }
  1%{
    transform: rotateY(88deg);
    box-shadow: 0px 0px 0px cyan;
  }
  2%{
    transform: rotateY(86deg);
    box-shadow: 0px 0px 0px cyan;  
  }
  3%{
    transform: rotateY(84deg);
    box-shadow: 0px 0px 0px cyan;
  }
  4%{
    transform: rotateY(82deg);
    box-shadow: 0px 0px 0px cyan;
  }
  5%{
    transform: rotateY(80deg);
    box-shadow: 0px 0px 0px cyan;
  }
  6%{
    transform: rotateY(78deg);
    box-shadow: 0px 0px 0px cyan;
  }
  7%{
    transform: rotateY(76deg);
    box-shadow: 0px 0px 0px cyan;
  }
  8%{
    transform: rotateY(74deg);
    box-shadow: 0px 0px 0px cyan;
  }
  9%{
    transform: rotateY(72deg);
    box-shadow: 0px 0px 0px cyan;
  }
  10%{
    transform: rotateY(70deg);
    box-shadow: 0px 0px 0px cyan;
  }
  11%{
    transform: rotateY(68deg);
    box-shadow: 0px 0px 0px cyan;
  }
  12%{
    transform: rotateY(66deg);
    box-shadow: 0px 0px 0px cyan;
  }
  13%{
    transform: rotateY(64deg);
    box-shadow: 0px 0px 0px cyan;
  }
  14%{
    transform: rotateY(62deg);
    box-shadow: 0px 0px 0px cyan;
  }
  15%{
    transform: rotateY(60deg);
    box-shadow: 0px 0px 0px cyan;
  }
  16%{
    transform: rotateY(58deg);
    box-shadow: 0px 0px 0px cyan;
  }
  17%{
    transform: rotateY(56deg);
    box-shadow: 0px 0px 0px cyan;
  }
  18%{
    transform: rotateY(54deg);
    box-shadow: 0px 0px 0px cyan;
  }
  19%{
    transform: rotateY(52deg);
    box-shadow: 0px 0px 0px cyan;
  }
  20%{
    transform: rotateY(50deg);
    box-shadow: 0px 0px 0px cyan;
  }
  21%{
    transform: rotateY(48deg);
    box-shadow: 0px 0px 0px cyan;
  }
  22%{
    transform: rotateY(46deg);
    box-shadow: 0px 0px 0px cyan;
  }
  23%{
    transform: rotateY(44deg);
    box-shadow: 0px 0px 0px cyan;
  }
  24%{
    transform: rotateY(42deg);
    box-shadow: 0px 0px 0px cyan;
  }
}


@keyframes shadow{
  0%{
    transform: scale(0.1);
    color: rgb(19, 60,67);
    
  }
    1%{
    transform: scale(0.2);
    color: rgb(19, 60,67);
  }
    2%{
    transform: scale(0.3);
    color: rgb(19, 60,67);
  }
    3%{
    transform: scale(0.4);
    color: rgb(19, 60,67);
  }
    4%{
    transform: scale(0.5);
    color: rgb(19, 60,67);
  }
    5%{
    transform: scale(0.6);
    color: rgb(19, 60,67);
  }
    6%{
    transform: scale(0.7);
    color: rgb(19, 60,67);
  }
    7%{
    transform: scale(0.8);
    color: rgb(19, 60,67);
  }
    8%{
    transform: scale(0.9);
    color: rgb(19, 60,67);
  }
    9%{
    transform: scale(1);
    color: rgb(19, 60,67);
      
  }
    10%{
    transform: scale(1.1);
    color: rgb(19, 60,67);
  }
  
}


@keyframes roll-in{
  0%{
    rotate: -320deg;
    translate: -580px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  1%{
    rotate: -310deg;
    translate: -560px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  3%{
    rotate: -300deg;
    translate: -540px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  4%{
    rotate: -290deg;
    translate: -520px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  5%{
    rotate: -280deg;
    translate: -500px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  6%{
    rotate: -270deg;
    translate: -480px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  7%{
    rotate: -260deg;
    translate: -460px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  8%{
    rotate: -250deg;
    translate: -440px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  9%{
    rotate: -240deg;
    translate: -420px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  10%{
    rotate: -220deg;
    translate: -400px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  
  11%{
    rotate: -210deg;
    translate: -380px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  12%{
    rotate: -200deg;
    translate: -360px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  13%{
    rotate: -190deg;
    translate: -340px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  14%{
    rotate: -180deg;
    translate: -320px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  15%{
    rotate: -170deg;
    translate: -300px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  16%{
    rotate: -160deg;
    translate: -280px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  17%{
    rotate: -150deg;
    translate: -260px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  18%{
    rotate: -140deg;
    translate: -240px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  19%{
    rotate: -130deg;
    translate: -220px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  20%{
    rotate: -120deg;
    translate: -200px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  21%{
    rotate: -110deg;
    translate: -200px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  22%{
    rotate: -100deg;
    translate: -180px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  23%{
    rotate: -90deg;
    translate: -160px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  24%{
    rotate: -80deg;
    translate: -140px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  25%{
    rotate: -70deg;
    translate: -120px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  26%{
    rotate: -60deg;
    translate: -100px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  27%{
    rotate: -50deg;
    translate: -80px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  28%{
    rotate: -40deg;
    translate: -60px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  29%{
    rotate: -20deg;
    translate: -40px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  30%{
    rotate: -10deg;
    translate: -20px 0px;
    border-radius: 50%;
    z-index: 1;
    -webkit-box-reflect: none;
  }
  31%{
    rotate: 0deg;
    translate: 0px 0px;
    -webkit-box-reflect: none;
  }
}

@keyframes rotating{
  10%{
    background-image: linear-gradient(10deg, cyan, aqua, aquamarine, lime);
  }
  20%{
    background-image: linear-gradient(20deg, cyan, aqua, aquamarine, lime);
  }
  30%{
    background-image: linear-gradient(30deg, cyan, aqua, aquamarine, lime);
  }
  40%{
    background-image: linear-gradient(40deg, cyan, aqua, aquamarine, lime);
  }
  50%{
    background-image: linear-gradient(50deg, cyan, aqua, aquamarine, lime);
  }
  60%{
    background-image: linear-gradient(60deg, cyan, aqua, aquamarine, lime);
  }
  70%{
    background-image: linear-gradient(70deg, cyan, aqua, aquamarine, lime);
  }
  80%{
    background-image: linear-gradient(80deg, cyan, aqua, aquamarine, lime);
  }
  90%{
    background-image: linear-gradient(90deg, cyan, aqua, aquamarine, lime);
  }
}