@media screen and (min-height: 768px){
  #header-nav{
  margin-bottom: 12px;
  margin-top: 5%;
  
}
}
@media screen and (min-height: 768px) {
  .header-button{
  font-size: 4.3rem;
  width: 16%;
  height: 95%;
  margin-left: 13%;
  margin-top: 2px;
  color: aqua;
  -webkit-box-reflect: below 2px 0 linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
  text-shadow: 1px 1px 0px black;
  background-color: aliceblue;
  border: none;
  border-radius: 14%;
  transform: rotateY(0deg);
  transition: 2s;
  
}
}

@media screen and (min-height: 768px){
  img{
  justify-self: center;
  width: 35%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 17%;
  transform: rotateY(0deg);
  -webkit-box-reflect: below 1px 0 linear-gradient(to bottom, rgba(0,0,0,0.2));
  transition: 1s;
  border-radius: 20%;
}
}

@media screen and (min-height: 768px){
  .ch{
  margin-left: 6%;
    margin-top: 65%;
  font-size: 3.5rem;
  font-family: myfont;
  color: aqua;
  -webkit-box-reflect: below 2px 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  text-shadow: 1px 1px 0px black;
  transform: rotateY(-85deg);
  transition-delay: 2s;
  transition: 2s;
}
}
@media screen and (min-height: 768px){
  main{
  display: flex;
  flex-flow: column;
  margin: 3px;
    padding: 10px;
}
}
@media screen and (min-height: 768px){
  
  #main-display-container{
  justify-items: center;
  width: 45vw;
    height: 24vh;
  display: flex;
  flex-flow: column;
  margin-left: 18%;
    margin-top: 7%;
    z-index: 1;
  transform: perspective(250px) rotateX(20deg) skewX(40deg);
  transition: 2s;
}
}

@media screen and (min-height: 768px){
  .main-button{
  width: max-content;
  margin: 5px;
  font-size: 4rem;
  font-family: myfont1;
  color: aqua;
  text-shadow: 1px 1px 0px black;
  background: none;
    border-radius: 7%;
  -webkit-box-reflect: below 1px 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
  border: none;
  transition: 1s;
}
}
@media screen and (min-height: 768px){
  .main-button:hover {
  transform: rotateX(-20deg) skewX(-30deg);
    background: none;
  font-size: 5.4em;
  transition: 1s;
}
}
@media screen and (min-height: 768px){
  #main-nav{
  display: flex;
  flex-flow: row;
  margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 10%;
  overflow: hidden;
}
}
@media screen and (min-height: 768px) {
  #main-nav::before{
  content: ''
}
}

@media screen and (min-height: 768px) {
  svg{
  position: relative;
  top: 14%;
  width: 47px;
  height: 47px;
}
}
@media screen and (min-height: 768px){
  .link-buttons{
  position: relative;
  top: 90%;
  text-decoration: none;
  margin-left: 19px;
  font-size: 2.6rem;
  -webkit-box-reflect: below 0px 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
 transition: 2s;
}
}

