
@font-face{
  font-family: myfont;
  src: url(fonts/GRANPS__.TTF);
}
@font-face{
  font-family: myfont1;
  src: url(fonts/AbandoN.ttf);
}

  body {
    background-color: whitesmoke;
  }
  
#main-title{
  color: steelblue;
  text-align: center;
  font-family: myfont;
  font-size: 3.5em;
  text-shadow: 1px 1px 3px lime;
}

header{
  padding: 5px;
}
#header-img{
  width: 70vw;
  height: 70vh;
  border-radius: 6%;
  margin-left: 12%;
  box-shadow: 5px 5px 20px black;
  
  }
#nav-bar{
  
  display: flex;
  justify-self: center;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 1px;
  z-index: 3;
  background-color: white;
  }
.nav-link{
  font-size: 1.4em;
  font-family: myfont1;
}
#video{ 
  position: absolute;
  width: 41vw;
  height: 72.5vh;
  margin: 2%;
  padding-left: 2%;
  z-index: 0.5;
  margin-left: 30%;
  overflow: hidden;
  transition-duration: 1s;
}
#video:hover {
  z-index: 2;
  transition-duration: 1s;
}
@media screen and (max-width: 500px) {
  #video{
    position: relative;
  width: 93vw;
  height: 32.5vh;
    right: 30%;
  z-index: 0.5;
  overflow: hidden;
  transition-duration: 1s;
  }
}

form{  
  padding: 7px;
  margin-top: 20%;
  margin: 8px;
  z-index: 1;
}
form:hover {
  z-index: 3;
}
@media sreen and (max-width: 500px) {
  form{
    padding: 2px;
    margin: 2px;
    margin-top: 3%;
  }
}
marquee{
  margin-top: 13%;
  direction: right;
}
#list-container{
 box-shadow: 4px 2px 3px grey;
  margin: 9px;
  z-index: 1;
}

.title{
  text-align: center;
  z-index: 1;
  background-image: linear-gradient(32deg, steelblue, cyan, white);
  box-shadow: 5px 5px 3px grey;
}

.band{
  width: 160px;
  height: 130px;
  z-index: 1;
  border-radius: 6%;
  box-shadaw: 4px 3px 2px grey;
  margin: 6px;
}
#list-container{
  display: flex;
  flex-direction: column;
}
#live-band-title{
  width: 310px;
  height: 30px;
}
#peformances-title{
  font-family: Lora, sans-serif;
  width: 310px;
  height: 30px;
}
#bookings{
  width: 210px;
}
p{
  width: 440px;
  text-shadow: 1px 1px 1px lime;
}
li{
  
  width: 240px;
  height: 20px;
  z-index: 1;
  font-family: Lora, sans-serif;
  transition-duration: 1s;
  
}
li:hover{
  position: relative;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  z-index: 2;
  width: 25vw;
  height: 21vh;
  background-color: cyan;
  font-size: 1.6em;
  border-radius: 50%;
  box-shadow: 4px 3px 4px grey;
  text-shadow: 2px 1px 2px lime;
  transition-duration: 1s;
 
}
iframe{
  padding: 6px;
}


